input {
    margin-top: 10px;
    height: 25px;
    line-height: 30px;
    width: 100%;
    text-indent: 10px;
}

.listArea{

    margin: 0 auto;
}

.list{

}

.list li{
    width: 99%;
    padding: 5px;
    background-color: #f8f8f8;
    border-bottom: solid 1px #f1f1f1;
}

.list li span{
    display: block;
    font-size: 13px;
}

.list li span.name{
    float: left;
}

.list li span.phone{
    float: right;
}

.clearfix{
    clear: both;
}